rich~=13.9.2
numpy~=1.26.4
scikit-learn~=1.5.2
xgboost~=2.1.1
matplotlib~=3.9.2
pandas==2.2.3
seaborn~=0.13.2
ipython
lightgbm~=4.5.0
catboost~=1.2.7
shap~=0.46.0
dice-ml
rtdl~=0.0.13
pytorch_tabnet
torch==2.4.1
scipy~=1.13.1
tab_transformer_pytorch
gensim==4.3.3
torchvision==0.19.1
statsmodels~=0.14.4